.container-castomers {
    text-align: center;
    height: 696px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffffff;
    
  }
  
  .text-castomers {
    margin-bottom: 40px;
    
  }
  .text-font-Caption3-Medium
  {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight:500;
    color:#4C526A;
  }
  .text-font-Subtitle2-SemiBold
  {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight:600;
    color: #020D37;
  }
  .blocks-castomers {
    display: flex;
    justify-content: center;
    gap: 30px; 
    
  }
  
  .block-castomers {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
    
  }

  .block-castomers-mobile {
    width: 300px;
    height: 300px;
    text-align: center;
    margin-bottom: 50px;
    
  }
  .text-font-Caption3-Medium-mobile
  {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight:500;
    color:#4C526A;
  }

  .text-font-Subtitle2-SemiBold-mobile
  {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight:600;
    color: #020D37;
  }
  @media(max-width:600px){
    .block-castomers-mobile {
        display: none;
        
      }

      .text-font-Caption3-Medium-mobile
      {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight:500;
        color:#4C526A;
      }


    }