<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="experiences-from-customers.css">
  </head>
  <body>
    <div class="container-castomers">
      <div class="block-text">
        <div class="text-castomers-Testimonials">
          <p>TESTIMONIALS</p>
        </div>
        <div class="text-castomers-good-experiences">
          <p >Hear good experiences from our customers</p>
        </div>
      </div>
        <div class="blocks-castomers">
        <div   class="block-castomers-mobile">
          <img src="/src\assets\castomers img\ri_double-quotes-r.svg">
          <div class="text-font-Caption3-Medium">
            <p>The sounds from WavesCo is great and it really helps our team to save time and production costs.</p>
          </div>
          <img src="/src\assets\castomers img\frame_45_2.svg">
          <div class="text-font-Subtitle2-SemiBold">
            <p>Anne Joyce</p>
          </div>
          <div class="text-font-Caption3-Medium">
            <p>Video editor at Dude Perfect</p>
          </div>
        </div>
          <div  class="block-castomers">
            <img src="/src\assets\castomers img\ri_double-quotes-r.svg">
          <div class="text-font-Caption3-Medium-mobile">
            <p>WavesCo was a great choice for our team for film production, the quality is amazingly great.</p>
          </div>
          <img  src="/src\assets\castomers img\frame_45_1.svg">
          <div class="text-font-Subtitle2-SemiBold">
            <p>Edward Sann</p>
          </div>
          <div  class="text-font-Caption3-Medium">
            <p>Head of Video editor at Netflix</p>
          </div>
          </div>
          
          <div  class="block-castomers-mobile">
            <img  src="\src\assets\castomers img\ri_double-quotes-r.svg">
          <div class="text-font-Caption3-Medium">
            <p> Perfect way to get best quality sound effects for youtube videos. Thanks to WavesCo team.</p>
          </div>
          <img src="\src\assets\castomers img\frame_45.svg">
          <div class="text-font-Subtitle2-SemiBold">
            <p>Ronn D.</p>
          </div>
          <div  class="text-font-Caption3-Medium">
            <p>Video Editor at PewDiePie</p>
          </div>
          </div>
      
        </div>
        <img  src="\src\assets\castomers img\divider.svg">
        </div>
  </body>
</html>