<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="ProductionHouse.css">
  </head>
  <body>
    <div class="ProductionBody" >
        <p class="HouseTitleText">Trusted by top Youtuber and Production House</p>
        <div class="ProductionBody__pictiourCase">
            <img class="SizeImg" src="/src\assets\ProductiounHouse-Img\dudeperfect 1.svg">
            <img class="SizeImg" src="/src\assets\ProductiounHouse-Img\Pewdiepie-logo 1.svg">
            <img class="SizeImg" src="/src\assets\ProductiounHouse-Img\MrBeast 1.svg">
            <img class="SizeImg" src="/src\assets\ProductiounHouse-Img\Group 2.svg">
            <img class="SizeImgLine" src="/src\assets\ProductiounHouse-Img\netflix 1.svg">
            <img class="SizeImgLine" src="/src\assets\ProductiounHouse-Img\pixar-removebg-preview 1.svg">
            <img class="SizeImgPicky"  src="/src\assets\ProductiounHouse-Img\picky picks.svg">
        </div>
    </div>
  </body>
</html>