<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="header-body.css">
</head>

<body>
  <div class="body">
    <div id="header-line"></div>
    <div id="search-line"></div>
  </div>
  <script>
    
    fetch('/src/components/header/header-body/header-line.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('header-line').innerHTML = data;
      });
    fetch('/src/components/header/search-line/search-line.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('search-line').innerHTML = data;
      });

  </script>
</body>

</html>