<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="brouse-by-categoryes.css">
  </head>
  <body>
    <div class="brouse-by-categoryes-body">
        <p class="Title-text">Browse by category</p>
        <div class="brouse-by-categoryes-img-container"> 
    <img class="brouse-size-img" src="/src\components\Brouse-by-categoryes\brose by categ img\Sound category item (1).svg">
    <img  class="brouse-size-img" src="/src\components\Brouse-by-categoryes\brose by categ img\Sound category item (2).svg">

        </div>
    </div>
  </body>
</html>
