<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="footer.css">
  </head>
  <body>
    <div class="container-footer">

        <div class="container-footer__blocks-footer">
        <div class="container-footer__blocks-footer__block-footer_logo">
          <img style="margin-left: auto;" src="\src\Logo\WavesCo.svg">
          <div class="Caption2-Reguler">
            <p>WavesCo is a platform for providing premium sound effects for Youtube videos, movies and many more.</p>
          </div>
          <div style="text-align: left; color:#ACAFB8;" class="text-font-Caption3-Medium">
            <p>WavesCo ©2021, All rights reserved</p>
          </div>
        </div>
        <div class="container-footer__blocks-footer__mobile-block-container" >
          <div  class="block-footer-mobile" >
            <div class="Caption2-Reguler bold-white">
              Product
          </div>
          <div class="Caption2-Reguler">
            <p>Browse sounds</p>
            <p>Pricing</p>
            <p>FAQ</p>
            <p>Affiliate</p>
          </div>
          </div>
          <div  class="container-footer__blocks-footer__block-footer">
            <div class="Caption2-Reguler bold-white">
              Company
          </div>
          <div class="Caption2-Reguler">
            <p>Blog</p>
            <p>Abous us</p>
            <p>Help</p>
            <p>Career</p>
          </div>
          </div>
        </div>
          <div  class="container-footer__blocks-footer__block-footer">
            <div  class="Caption2-Reguler bold-white">
              Social Media
          </div>
          <div class="Caption2-Reguler">
            <p>Twitter</p>
            <p>Instagram</p>
            <p>Youtube</p>
            <p>Facebook</p>
          </div>
        
          </div>
        </div>
        
        </div>
  </body>
</html>