.container-footer {
  padding: 50px 100px 50px 100px;
  gap: 0px;
  opacity: 0px;
  background: #020D37;
  width: 100%;
}

.text-footer {
  margin-bottom: 40px;
  gap:14px;
}
.text-font-Caption3-Medium
{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight:500;
  color:#4C526A;
  
}
.text-font-Subtitle2-SemiBold
{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight:600;
  color: #020D37;
  
}
.Caption2-Reguler{
font-family: 'Poppins', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
letter-spacing: -0.05em;
text-align: left;
color: #ACAFB8;
}


.container-footer__blocks-footer {
  display: flex;
  border: 1px solid #979797;
  
}

.container-footer__blocks-footer__block-footer {
  border: 1px solid #858585;
  visibility: visible;

}
.block-footer-mobile {
  text-align:left;
  margin-bottom: 50px;
  border: 1px solid #0033ff;
  margin-right:auto;
}
.container-footer__blocks-footer__mobile-block-container{
  display: flex;
  flex-direction: row;
  border: 1px solid #0033ff;
  justify-content: space-between;
}
@media(max-width:600px){
  .container-footer {
      display: flex;
      padding: 5px 10px 5px 10px;
      gap: 0px;
      opacity: 0px;
      background: #020D37;
      flex-direction: column;
      align-items: center;
      border: 1px solid #ff00aa;
      width: 100%;
    }

    .text-footer {
      margin-bottom: 40px;
      gap:14px;
    }
    .text-font-Caption3-Medium
    {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight:500;
      color:#4C526A;
      
    }
    .text-font-Subtitle2-SemiBold
    {
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      font-weight:600;
      color: #020D37;
      
    }
    .Caption2-Reguler{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: left;
    color: #ACAFB8;
    }
    .container-footer__blocks-footer__mobile-block-container{
      display: flex;
      flex-direction: row;
      border: 1px solid #686868;
      width:100%;
      margin-left: 0px;
      margin-left:0px;
      
    }
    .container-footer__blocks-footer {
      display: flex;
      justify-content: left;
      gap: 10px; 
      flex-direction: column;
      align-items: left;
    }
    .block-footer-mobile {
      width: 06x;
      height: 195px;
      text-align:left;
      margin-bottom: 50px;
      border: 1px solid #0033ff;
      margin-right: 60px;
    }
    .container-footer__blocks-footer__block-footer {
      height: 195px;
      text-align: left;
      margin-bottom: 50px;
      border: 1px solid #999999;
      
    }


  }