<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="why-us.css">
  </head>
  <body>
    <div class="why-us-body">
        <div class="Title__text-block">
            <p class="text-dezine-Title-yellow-why-us">WHY US?</p>
            <p class="text-dezine-text-box-Title-why-us">We are provide the best quality sound effects without copyright.</p>
        </div>
        <div class="why-us-body__features">
            <div class="why-us-body__features__inner-block top-left">
                <img src="/src\whyus img\icon-primary (1).svg" >
                <p  class="text-dezine-Title-why-us">1.203.322 Customer satisfied</p>
                <p class="text-dezine-small-grey-why-us">We've helped more than 1 million customers find best sound effects</p>
            </div>
            <div class="why-us-body__features__inner-block top-right">
                <img src="/src\whyus img\icon-primary.svg" >
                <p class="text-dezine-Title-why-us">650.654 Sounds</p>
                <p class="text-dezine-small-grey-why-us">More than 600 thousand high quality to download. Still counting</p>
            </div>
            <div class="why-us-body__features__inner-block bottom-left">
                <img src="/src\whyus img\icon-primary (2).svg" >
                <p class="text-dezine-Title-why-us">Royalty-free</p>
                <p class="text-dezine-small-grey-why-us">Just download and use the sound for your videos without royalty</p>
            </div>
            <div class="why-us-body__features__inner-block bottom-right">
                <img src="/src\whyus img\icon-primary (3).svg" >
                <p class="text-dezine-Title-why-us">Provide proper sounds</p>
                <p class="text-dezine-small-grey-why-us">We just provide sounds with the best quality  for customers</p>
            </div>
    </div>
    </div>
  </body>
</html>