<!doctype html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="Download-sound.css">
  </head>
  <body>
    <div class="container-download">
        <div class="text-download">
          <p class="Download-Title-text">Download sound effects for your project</p>
        </div>
        <div class="text-download">
          <p >Find the right plan for you</p>
        </div>
        <div class="blocks-download">
        <div   class="block-download">
          <p class="text-download-common text-large" >Basic</p>
          <p  class="text-download-common text-small">Download any royalty-free sound effects</p>
          <p class="text-download-common text-medium">Free</p>
          <button class="button-downlad">
            <p class="text-download-common text-button">Get started</p>
          </button> 
        </div>
          <div class="block-download-premium ">
            <p class="text-download-common text-large">Premium</p>
            <p class="text-download-common text-small">Download premium sound effects and use them for any business purpose</p>
            <p class="text-download-common text-medium-premium" >Start from $12/month</p>
            <button class="button-downlad-premium" >
              <p class="text-download-common text-button-premium" >Get started</p>
            </button>
          </div>
          
        </div>
        <div class="text-download">
          <p >Join premium with 434,849 creators.</p>
        </div>
      </div>

  </body>
</html>