

/*header pannel*/



/*поисковая*/


form {
  margin-top:25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 60px;
  background-image: url('C:\\Users\\Никита\\Practika\\src\\Pictures\\Union.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 10px center;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
