<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="search-line.css">
</head>

<body>
  <div class="sub-header">

    <div class="sub-header__search-midle-container">

      <div class="sub-header__search-midle-container__search-container">
        <div class="text-block">
          <p class="text-design-title text-direction-row">Free download sound effects without copyright</p>
          <p class="text-dezine-small-grey text-direction">Download free copyright sound effect for your YouTube video
            and any use.</p>
        </div>

        <div class="sub-header__search-midle-container__search-container__search-l">
          <form>
            <input class="search-input" type="text" id="search" name="search" placeholder="Search sound effects">
          </form>
          <p class="text-dezine-small-grey text-white align-left">
            Try keyword: happy, funny, natural, horror, jumpscare and more
          </p>
        </div>
        <div class="bottom-text-block">
          <p class="text-dezine-small-grey text-white">
            650.654 Available Sounds. Library Updated Weekly. <a class="text-white" href="">See popular sounds</a>
          </p>
        </div>
      </div>

    </div>
  </div>

</body>

</html>